@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes rise {
  0% { transform: translateY(0) scale(1); opacity: .0; }
  6% { opacity: .9; }
  100% { transform: translateY(-120vh) scale(1.1); opacity: 0; }
}

@keyframes float-slow {
  0% { transform: translateY(0px) rotate(-1deg); }
  50% { transform: translateY(-8px) rotate(1deg); }
  100% { transform: translateY(0px) rotate(-1deg); }
}

.animate-float-slow { animation: float-slow 4.6s ease-in-out infinite; }

@keyframes swim {
  0% { transform: translateX(-20px); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(-20px); }
}
.animate-swim { animation: swim 6s ease-in-out infinite; }

@keyframes fade-in-up {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-up { animation: fade-in-up 0.8s ease-out; }

@keyframes waveText {
  0% { opacity: 0; letter-spacing: -3px; }
  100% { opacity: 1; letter-spacing: 0; }
}
.animate-wave-text { animation: waveText 1s ease-out; }
