@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes rise {
  0% { transform: translateY(0) scale(1); opacity: .0; }
  6% { opacity: .9; }
  100% { transform: translateY(-120vh) scale(1.1); opacity: 0; }
}

@keyframes float-slow {
  0% { transform: translateY(0px) rotate(-1deg); }
  50% { transform: translateY(-8px) rotate(1deg); }
  100% { transform: translateY(0px) rotate(-1deg); }
}

.animate-float-slow { animation: float-slow 4.6s ease-in-out infinite; }
